# Remplace par l'ID de ton serveur de test Discord
# L'enregistrement guild est instantané vs global (~1h)
DISCORD_DEV_GUILD_ID=

# Clé API YouTube Data v3 pour les notifications de vidéos / streams
YOUTUBE_API_KEY=
